
    <%- include('partials/head') %>
    <link rel="apple-touch-icon" href="../static/images/icons/icon-96x96.png">
    <meta name="apple-mobile-web-app-status-bar" content="#aa7700">
    <h1>Ghibli movies</h1>
    <img class="Totoro" src="images/pngguru.com.png" alt="Totoro">
    <div class="container2">
        <% gifs.forEach( (gif,index) => { %>
        <a href="movie-id/<%=gibli[index].id%>">
            <figure>
                <img src="<%= gif.images.downsized.url%>" alt="<%=gif.title%>">
                <h1><%=gibli[index].title%></h1>
            </figure>
        </a>
        <% }) %>
    </div>

    <%- include('partials/register_sw') %>
